#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #f4ede8;
  color: #5a4636;
  font-family: "Georgia", serif;
}


.read-the-docs {
  color: #7d6757;
}
